@import 'src/styles/variables';

.WeatherForecastItem {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
  }

  &__day-name {
    text-align: center;
    font-size: 28px;
    margin-bottom: 17px;
  }

  &__temp {
    font-size: 28px;

    &--max {
      font-weight: 600;
      margin-right: 15px;
    }
  }

  &__icon {
    flex: 1;
    margin-bottom: 12px;
  }

  &__bar-container {
    display: flex;
    align-items: end;
    width: 100%;
    column-gap: 2px;
    height: 78px;
    margin-top: 17px;
  }

  &__bar {
    flex: 1 1 0px;

    &--high {
      background-color: rgba(241, 150, 28, 0.5);
      border-top: 5px solid $carrot-orange;
    }

    &--low {
      background-color: rgba(107, 135, 188, 0.5);
      border-top: 5px solid $ship-cove;
    }
  }
}
