@import './mixins/include-font.scss';
@import 'src/styles/variables';

$helvetica_font_family: 'Helvetica Neue';
@include include-font($helvetica_font_family, 400, helveticaneue-thin);
@include include-font($helvetica_font_family, 500, helveticaneue-light);
@include include-font($helvetica_font_family, 600, helveticaneue-medium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $helvetica_font_family;
}

body {
  background-color: $bright-gray;
  color: $white;
}
