@import './mixins/include-font.scss';

$helvetica_font_family: 'Helvetica Neue';
@include include-font($helvetica_font_family, 400, helveticaneue-thin);
@include include-font($helvetica_font_family, 500, helveticaneue-light);
@include include-font($helvetica_font_family, 600, helveticaneue-medium);
@include include-font($helvetica_font_family, 500, avenir-next-medium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $helvetica_font_family;
}

body {
  background-color: #3a424c;
  color: #ffffff;
}
