.Navigation {
  &__container {
    background-color: #3a424c;
    padding: {
      top: 24px;
      bottom: 19px;
      left: 25px;
      right: 25px;
    }

    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;

    flex: {
      grow: 1;
      shrink: 1;
    }

    &--left {
      flex-basis: 20%;
      justify-content: start;
    }

    &--center {
      flex-basis: 60%;
      justify-content: center;
    }

    &--right {
      flex-basis: 20%;
      justify-content: end;
    }
  }

  &__text-container {
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font: {
      weight: 500;
      size: 28px;
    }
    text-align: center;

    &--white {
      color: white;
    }

    &--darker {
      color: #9fa0a5;
    }
  }
}
