.Navigation {
  &__container {
    background-color: #3a424c;
    padding: {
      top: 11px;
      bottom: 11px;
      left: 25px;
      right: 25px;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__left {
    align-self: flex-start;
  }

  &__center {
    align-self: center;
  }

  &__right {
    align-self: flex-end;
  }

  &__text {
    font-size: 28px;
    text-align: left;
    font-weight: 400;

    &--white {
      color: white;
    }

    &--darker {
      color: #9fa0a5;
    }
  }
}
