.Navigation {
  &__container {
    background-color: #3a424c;
    padding: {
      top: 11px;
      bottom: 11px;
      left: 25px;
      right: 25px;
    }

    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 1 1 0px;

    &--left {
      justify-content: start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: end;
    }
  }

  &__text-container {
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font-size: 28px;
    font-weight: 400 !important;

    &--white {
      color: white;
    }

    &--darker {
      color: #9fa0a5;
    }
  }
}
