.LocationList {
  &__list {
    list-style-type: none;
    padding: {
      left: 37px;
    }
    background-color: #4e555e;
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: #979797;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: #9fa0a5;
    padding: {
      top: 24px;
      bottom: 28px;
    }
    font-size: 28px;

    &--white {
      color: #ffffff;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    background-color: #4e555e;
  }
}
