@import 'src/styles/variables';

.LocationList {
  &__list {
    list-style-type: none;
    padding: {
      left: 37px;
    }
    background-color: $trout;
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: $dusty-gray;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $santas-gray;
    padding: {
      top: 24px;
      bottom: 28px;
    }
    font-size: 28px;

    &--white {
      color: $white;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    background-color: $trout;
  }
}
